body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;s
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#4c875b;
}

#app {
    text-align: center;
}

h1 {
    color: #422929;
}

input {
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(17, 213, 220, 0.1);
}